<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bravo.demo.ssm.dao.UserDao">

	<sql id="all_columns">
		id, 
		username, 
		password, 
		gender, 
		age, 
		birthday, 
		create_date as "createDate", 
		last_logon_time as "lastLogonTime", 
		update_date as "updateDate"
	</sql>

	<select id="getAllUser" resultType="com.bravo.demo.ssm.entity.User">
		select 
		<include refid="all_columns" />
		from user
	</select>
	
	<insert id="insertUser" parameterType="com.bravo.demo.ssm.entity.User">
		insert into user (id, username, password, gender, create_date, update_date) 
		values (#{id}, #{username}, #{passowrd}, #{gender}, now(), now());
	</insert>

</mapper>