<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bravo.demo.ssm.dao.UserDao">
	<resultMap id="userResultMap" type="com.bravo.demo.ssm.entity.User">
		<id column="id" property="id" jdbcType="VARCHAR"/> <!-- jdbcType 参考 org.apache.ibatis.type.JdbcType -->
		<result column="username" property="username" jdbcType="VARCHAR"/>
		<result column="password" property="password" jdbcType="VARCHAR"/>
		<result column="locked" property="locked" jdbcType="CHAR"/>
		<result column="gender" property="gender" jdbcType="CHAR"/>
		<result column="age" property="age" jdbcType="TINYINT"/>
		<result column="birthday" property="birthday" jdbcType="DATE"/>
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
		<result column="last_logon_time" property="lastLogonTime" jdbcType="TIMESTAMP"/>
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
	</resultMap>

	<sql id="all_columns">
		id, 
		username, 
		password, 
		locked,
		gender, 
		age, 
		birthday, 
		create_date, 
		last_logon_time, 
		update_date
	</sql>
	

	<select id="getAllUser" resultMap="userResultMap">
		select 
		<include refid="all_columns" />
		from user
	</select>
	
	<select id="getUserById" resultMap="userResultMap" parameterType="java.lang.String">
		select 
		<include refid="all_columns" />
		from user
		<where>
			<if test="userId != null">
				id = #{userId}
			</if>
		</where>
	</select>
	
	<select id="getUserByName" resultMap="userResultMap" parameterType="java.lang.String">
		select 
		<include refid="all_columns" />
		from user where username = #{username}
	</select>

	<!-- 使用注解时，要对自动生成主键回填，使用注解 @Options(useGeneratedKeys="true" keyProperty="id") -->
	<insert id="insertUser" parameterType="com.bravo.demo.ssm.entity.User" useGeneratedKeys="true" keyProperty="id">
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
			select UUID()
		</selectKey>
		insert into user (id, username, password, gender, age, create_date, update_date) 
		values (#{id}, #{username}, #{password}, #{gender}, #{age}, now(), now())
	</insert>

	<delete id="delUserById" parameterType="java.lang.String">
		delete from user where id = #{userId}
	</delete>
</mapper>